.navbarSection{
    max-width: 1360px;
    margin: auto;
    padding-right: 80px;
    padding-left: 80px;
    .searchBar{
        max-width: 557px;
        margin: auto;
    }
}
.navbarSection3{
    max-width: 1260px;
    margin: auto;
    padding-right: 100px;
    padding-left: 100px;
}


