.navbarSection{
    max-width: 1360px;
    margin: auto;
    padding-right: 80px;
    padding-left: 80px;
}
.navbarSection3{
    max-width: 1260px;
    margin: auto;
    padding-right: 100px;
    padding-left: 100px;
}
.navbarsection3{
    .navbarSubSection1{
        width: 72%;
    }
    .navbarSubSection2{
        width: 28% ;
    }
}

